body {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p {
    font-family: "Open Sans", Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-box {
    display: flex;
    font-size: 40px;
    width: 10em;
    height: 5em;
    margin: 20px auto;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: darkorchid;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.item {
    color: aliceblue;
}

.hidden {
    display: none;
}

.button {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.button-box {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 50px;
}
